.footer {
  background-color: $secondary;

  &__contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
    padding: 1rem 0;
    margin: 0 1rem;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    @include media-breakpoint-up(lg) {
      height: 14.375rem;
    }

  }

  &__contact-info,
  &__newsletter {
    flex: 1;
    margin: 0 1rem;

    @supports (gap: 1rem) {
      margin: 0;
    }
  }

  &__title {
    color: $primary;
    text-decoration: underline;
  }

  &__icon {
    padding-right: .5rem;
  }

  &__link {
    font-weight: $font-weight-semibold;

    &:hover {
      text-decoration: none;
    }
  }

  &__newsletter-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 1rem 0;
    border-color: $primary;
    border-top-style: solid;
    border-top-width: .0625rem;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      height: 4.375rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

  &__social-media { padding: .5rem 0; }

  // Hide text. For screen readers.
  &__accessibility-text { font-size: 0; }

  &__secondary-navigation {
    flex-direction: column;
    padding: .5rem 0;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__brand {
    @include media-breakpoint-up(lg) {
      margin-left: .5rem;
    }
  }
}
