<section class="poster">
  <picture class="poster__logo-picture">
    <source srcset="./assets/images/logo.png?as=webp" type="image/webp" />
    <img src="./assets/images/logo.png" alt="Nir Va Ni Viene logo" width="50" height="50" />
  </picture>
  <h1 class="poster__title">Nir Va<br>Ni Viene</h1>
  <h2 class="poster__subtitle fst-italic">Nir te Vamos<br>Ni te Venimos<br>pero nuestra música es otro rollo.</h2>
  <picture class="poster__main-picture">
    <source srcset="./assets/images/poster-image.jpg?as=webp" type="image/webp" />
    <img class="poster__image" src="./assets/images/poster-image.jpg" alt="Nir Va Ni Viene promotional poster" />
  </picture>
  <picture class="poster__aside-picture">
    <source srcset="./assets/images/guitar.jpg?as=webp" type="image/webp" />
    <img class="poster__image" src="./assets/images/guitar.jpg" alt="Banner guitarra" />
  </picture>
</section>