@use "sass:color";

$grey: #aaa;
$primary: #104c75;
$secondary: #cee7f8;
$dark-blue: color.scale($primary, $lightness: -75%);

$body-bg: color.scale($grey, $lightness: 90%);

// Navbar component
$navbar-nav-link-padding-x: 1rem;
$navbar-light-color: $primary;
$navbar-light-hover-color: $dark-blue;
$navbar-light-active-color: $dark-blue;

// Navs & Tabs components
$nav-link-font-weight: 600;
$nav-link-padding-y: 0;
$nav-link-hover-color: $dark-blue;

// Buttons
$btn-font-weight: 600;